.header{
display: flex;
justify-content: space-between;
nav{
    ul{
        display: flex;
        a{
            text-decoration: none;
            color: #000;
            font-family: Montserrat;
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            &.underline{
                text-decoration: underline;
            }
        }

        li{ 
             margin: 0 20px;
             list-style: none;
        }
    }   
}

}

@media screen and (max-width: 480px) {
    .header nav ul a{
        color: #000;
        font-family: Montserrat;
        font-size: 12px;
    }
    .header nav ul li {
        margin: 0; /* Réinitialise la marge pour les petits écrans */
      }
}