.custom-carousel {
  position: relative;
}

.custom-carousel .carousel .control-arrow {
  background-color: transparent;
  color: #fff;
  font-size: 3rem;
}

.carousel.carousel-slider .control-arrow:hover {
  background: blue;
  color: blue;
}


.custom-carousel .carousel .control-arrow:focus {
  outline: none;
}

.carousel .carousel-status{
  color: #fff;
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
  text-align: center;
  position: absolute;
  top: 64%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  padding: 10px 0;
}

.custom-carousel .carousel .thumbnails {
  display: none;
}
.custom-carousel .control-dots {
  display: none;
}
.custom-carousel .carousel .thumbs-wrapper {
  display: none;
}