@import '../style/Variables_Mixins/Variables_Mixins.scss';

.buttons-container {
  display: flex;
  flex-direction: row; // Alignement horizontal
  justify-content: center; // Centre les boutons horizontalement
  gap: 100px; // Espace entre les boutons
  margin-top: 20px; // Ajoute une marge au-dessus des boutons
}


.collapse-logement-container {
  width: 100%;
  margin-bottom: 20px;
  border-radius: 5px;

  .collapse-logement-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: $primary-color; // Fond rouge pour le bouton
    border-radius: 10px; // Coins arrondis
    cursor: pointer;

    p {
      color: white; // Texte blanc
      font-weight: 500;
      font-size: 18px;
      margin: 0;
    }

    button {
      width: 32px;
      height: 32px;
      font-size: 18px;
      color: white; // Icône blanche
      background: none;
      border: none;
      cursor: pointer;
      transition: transform 0.3s ease;

      &:hover {
        transform: scale(1.1);
      }

      &.close {
        transform: rotate(0deg);
      }

      &.open {
        transform: rotate(180deg);
      }
    }
  }

  .collapse-logement-content {
    width: 100%;
    background-color: $secondary-color; // Arrière-plan gris
    border-radius: 0 0 10px 10px; // Coins arrondis en bas
    overflow: hidden;
    transition: max-height 0.4s ease;
    max-height: 0;

    &.open {
      max-height: 400px;
    }

    .collapse-logement-content-text {
      padding: 15px;
      color: #666;
      font-size: 16px;
      line-height: 1.5;
    }
  }
}

// Design responsive pour les mobiles
@media screen and (max-width: 768px) {
  .collapse-logement-container {
    margin-bottom: 15px;

    .collapse-logement-title {
      padding: 10px 15px;

      p {
        font-size: 14px;
        color: white; // Texte blanc
      }

      button {
        width: 28px;
        height: 28px;
      }
    }

    .collapse-logement-content {
      padding: 10px;

      .collapse-logement-content-text {
        font-size: 14px;
        color: #666;
      }
    }
  }
}
