footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  margin-bottom: 0;
  position: absolute;
  bottom: -165%;
  left: 0;
  width: 100%;

  .footer-logo {
    width: 100px;
    height: auto;
    margin: 0 auto 10px;
    display: block;
    filter: brightness(0) invert(1);
  }

  p {
    font-size: 14px;
    margin: 0;
    text-align: center;
  }
}
