@import '../style/Variables_Mixins/Variables_Mixins.scss';

.logement-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 24px;

  .logement-tag {
    width: auto;
    border-radius: 10px;
    flex-shrink: 0;
    padding: 3px 30px;
    background: #ff6060;
    font-size: 14px;
    color: white;
    line-height: 142.6%;
    font-weight: 500;
    font-style: normal;
    font-family: "Montserrat";
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

// Media Queries

@media screen and (max-width: 768px) {
  .logements-tags-container {
    margin-top: 10px;
    margin-bottom: 17px;

    .logements-tag {
      @include font-montserrat-500(10px, white, 142.6%);
      padding: 3px 20px;
    }
  }
}
