@import '../../style/Variables_Mixins/Variables_Mixins.scss';

.container-collapse-logements {
  display: flex;
  flex-direction: row; // Alignement horizontal
  justify-content: center; 
  gap: 100px; 
  margin-top: 20px;
}


.collapse-logement-container {
  width: 70%;
  margin-bottom: 20px;
  border-radius: 5px;

  .collapse-logement-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: $primary-color; // Fond rouge pour le bouton
    border-radius: 10px; // Coins arrondis
    cursor: pointer;

    p {
      color: white; // Texte blanc
      font-weight: 500;
      font-size: 18px;
      margin: 0;
    }

    button {
      width: 32px;
      height: 32px;
      font-size: 18px;
      color: white; // Icône blanche
      background: none;
      border: none;
      cursor: pointer;
      transition: all 0.4s ease;

      &:hover {
        scale: 1.2;
      }

      &.close {
        transform: rotate(0deg);
      }

      &.open {
        transform: rotate(180deg);
      }
    }
  }

  .collapse-logement-content {
    width: 100%;
    background-color: $secondary-color; // Arrière-plan gris
    border-radius: 0 0 10px 10px; // Coins arrondis en bas
    overflow: hidden;
    max-height: 0; // Par défaut fermé
    transition: max-height 0.4s ease, padding 0.4s ease;
  
    &.open {
      max-height: auto; // Valeur fixe à ajuster selon vos besoins
      padding-bottom: 20px;
    }
  

    .collapse-logement-content-text {
      padding: 15px;
      color: #666;
      font-size: 16px;
      line-height: 1.5;
    }
  }
}

// Design responsive pour les mobiles
@media screen and (max-width: 480px) {
  .container-collapse-logements{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 15%;
    gap: 0;
    align-items: center;
    justify-items: center;

    .collapse-logement-title {
      width: 100%;

      p {
        @include font-montserrat-500(13px, white, 142.6%);
      }

      button {
        margin-right: 10px;
        width: 30px;
        height: 30px;;
      }
    }

    .collapse-logement-content {
      width: 100%;
      @include font-montserrat(13px, $primary-color, 142.6%, none);

      .collapse-logement-content-text {
        font-size: 14px;
        color: #666;
      }
    }
  }
}
