/* Styles pour le conteneur principal */
.logement-tags-container {
  display: flex;
  flex-wrap: nowrap; 
  gap: 10px; /* Espacement entre les éléments */
  margin-top: 20px;
  margin-bottom: 24px;
  padding: 10px 0; /* Ajuste l'espacement autour */
  border-radius: 10px;
}

/* Styles pour chaque tag individuel */
.logement-tags {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  line-height: 142.6%;
  color: white;
  padding: 5px 10px; /* Espacement interne */
  background-color: #ff6060; /* Fond rouge appliqué aux tags */
  border-radius: 5px; /* Coins arrondis pour les tags */
  text-align: center; /* Centre le texte dans chaque tag */

  @media screen and (max-width: 480px) {
    font-size: 12px;
    white-space: nowrap;
  }
}
