@import '../../style/Variables_Mixins/Variables_Mixins.scss';

.main-logement {
    position: relative;
    width: 90%;
    max-width: 1440px;
    height: auto;
    overflow-x: hidden;
    margin: 0 auto;   
  }
  
.first-container{
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
}

  @media screen and (max-width: 480px) {
    .main-logement {
      width: 100%;
    }
    .first-container{
      padding-top: 15px;
      display: grid;
      justify-content: normal;
      padding-left: 15px;
      box-sizing: border-box; 
    }
    .logement-profil-mobile{
      display: grid;
      justify-content: end;
    }

    .logement-tags{
      display: grid;
          grid-auto-flow: column;
          justify-content: start;
          gap: 10px;
          margin-top: 10px;
          align-items: center;
          width: auto;
          height: auto;
    }
  }
  
  