@import '../../style/Variables_Mixins/Variables_Mixins.scss';
.logement-profil-container {
  width: 167px;
  height: 64px;
  @include flexbox(row, space-between, center);
  gap: 10px;
  margin-bottom: 21px;
  margin-left: 23px;

  .host-name {
    @include font-montserrat-500(18px, $primary-color, 142.6%);
    text-align: right;
    margin: 0;
  }

  .host-picture {
    height: 100%;
    border-radius: 50%;
    margin-right: 0;
  }
}

// Media Queries

@media screen and (max-width: 480px) {
  .body{
  margin: 0;
  }

  .logement-profil-container {
    margin: 0;
    width: 32px;
    height: 32px;
    position: absolute;
    left: 70%;

    .host-name {
      @include font-montserrat-500(14px, $primary-color, 142.6%);
      width: 93px;
    }
  }
}
